
.l-you-may-also-care {
  background: url(../img/what-we-do/care_bg.jpg) no-repeat center center;
  background-size: cover;
  padding-block: rem(160);
  @include sp {
    padding-block: rem(80) rem(80);
  }
  .row {
    margin-top: rem(24);
    @include pc {
      @include grid(628, 24);
      align-items: center;
    }
    .item {
      padding: rem(40);
      height: rem(745);
      transition: all ease .3s;
      position: relative;
      z-index: 1;
      display: block;
      color: $cl-white;
      @include pc {
        &:hover {
          opacity: 0.8;
        }
      }
      @include sp {
        padding: rem(25);
        height: rem(458);
        &:not(:last-child) {
          margin-bottom: rem(20);
        }
      }
      .img-fit {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      dl {
        dt {
          color: inherit;
          max-width: rem(420);
        }
        dd {
          margin-top: rem(24);
          font-size: rem(12);
          color: $cl-primary-light;
          letter-spacing: 0;
          font-weight: bold;
        }
      }
      .date {
        position: absolute;
        left: rem(25);
        bottom: rem(25);
        padding-left: rem(15);
        font-weight: bold;
        font-size: rem(16);
        color: $cl-white;
        @include pc {
          left: rem(40);
        }
        &:before {
          content: '';
          position: absolute;
          top: rem(8);
          left: 0;
          width: rem(8);
          height: rem(8);
          border-radius: 50%;
          background-color: $cl-white;
        }
      }
      .txt {
        margin-top: rem(22);
        max-width: rem(478);
        font-size: rem(18);
        @include sp {
          line-height: calc(24.59/18);
          letter-spacing: -0.04em;
        }
      }
      &.__blank{
        position: relative;
        &:before{
          content: '';
          position: absolute;
          bottom: rem(40);
          right: rem(40);
          width: rem(80);
          height: rem(80);
          background: url("../img/icon_blank.png") center no-repeat;
          background-size: 100%;
          z-index: 1;
          @include sp{
            width: rem(40);
            height: rem(40);
            right: rem(24);
            bottom: rem(24);
          }
        }
      }
    }
  }
}