// default settings
@import "_base/settings";
@import "_base/mixin";

// CUSTOM STYLES //
// ======================================= //

.p-404{
  padding: rem(200) 0 rem(120);
  text-align: center;
  @include sp{
    padding: rem(120) 0 rem(80);
  }
  .c-title{
    font-size: rem(150);
    font-weight: 700;
    color: $cl-primary;
    margin-bottom: rem(20);
    margin-bottom: rem(40);
    @include fontManrope;
    line-height: 1;
    @include sp{
      margin-bottom: rem(16);
    }
  }
  .c-text{
    font-size: rem(24);
    line-height: 2;
    margin-bottom: rem(40);
    @include sp{
      font-size: rem(16);
    }
  }
}