.page-about .section__accordion {
  padding-top: 5rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion {
    padding-top: 2.375rem;
  }
}
.page-about .section__accordion .c-toggle__head {
  cursor: pointer;
  position: relative;
  border-top: 1px solid #D8DAE1;
}
.page-about .section__accordion .c-toggle__head .c-ttl {
  padding: 1.5rem 4.125rem;
  font-family: "Bona Nova", serif;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 1.2;
  position: relative;
  color: #1A1C21;
}
@media (max-width: 750px) {
  .page-about .section__accordion .c-toggle__head .c-ttl {
    padding: 5.4375rem 0 1.5rem;
    font-size: 2.625rem;
    line-height: 1.2;
  }
}
.page-about .section__accordion .c-toggle__head .c-ttl .c-num {
  font-size: 1rem;
  line-height: 1.36625;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.04em;
  position: absolute;
  top: 1.5625rem;
  left: 0;
}
@media (max-width: 750px) {
  .page-about .section__accordion .c-toggle__head .c-ttl .c-num {
    top: 1.5rem;
  }
}
.page-about .section__accordion .c-toggle__head .c-ico {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 2.5625rem;
  right: 0;
}
@media (max-width: 750px) {
  .page-about .section__accordion .c-toggle__head .c-ico {
    top: 1.5rem;
    right: 0;
  }
}
.page-about .section__accordion .c-toggle__head .c-ico:before, .page-about .section__accordion .c-toggle__head .c-ico:after {
  content: "";
  display: block;
  width: 1.25rem;
  height: 0.1875rem;
  background: #374957;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.page-about .section__accordion .c-toggle__head .c-ico:after {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page-about .section__accordion .c-toggle__head.is-active .c-ico:after {
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
}
.page-about .section__accordion .c-toggle__main {
  display: none;
  overflow: hidden;
}
.page-about .section__accordion .c-media + .c-media {
  margin-top: 2.625rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .c-media + .c-media {
    margin-top: 2.5rem;
  }
}
@media (min-width: 751px) {
  .page-about .section__accordion .c-media.--mt-lg {
    margin-top: 2.625rem;
  }
}
@media (max-width: 750px) {
  .page-about .section__accordion .c-media.--mt-lg {
    margin-top: 2.5rem;
  }
}
.page-about .section__accordion .c-media__ttl {
  color: #074494;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.36625;
  letter-spacing: -0.04em;
  margin-bottom: 1rem;
}
.page-about .section__accordion .c-media__txt {
  font-size: 1rem;
  line-height: 1.36625;
  margin-bottom: 2.5rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .c-media__txt {
    font-size: 1rem;
    line-height: 1.36625;
    margin-bottom: 1.5rem;
  }
}
.page-about .section__accordion .company {
  padding-bottom: 5rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .company {
    padding-bottom: 2.5rem;
  }
}
.page-about .section__accordion .company__content {
  padding-top: 2.5rem;
  position: relative;
}
@media (min-width: 751px) {
  .page-about .section__accordion .company__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 750px) {
  .page-about .section__accordion .company__content {
    padding-top: 2.5rem;
  }
}
@media (min-width: 751px) {
  .page-about .section__accordion .company__block.--first {
    width: 41.875rem;
  }
}
@media (min-width: 751px) {
  .page-about .section__accordion .company__block.--second {
    width: 33.125rem;
  }
}
@media (max-width: 750px) {
  .page-about .section__accordion .company__block.--second {
    margin-top: 1.5rem;
  }
}
.page-about .section__accordion .company__btn {
  position: relative;
}
@media (max-width: 750px) {
  .page-about .section__accordion .company__btn {
    margin-top: 2.375rem;
  }
}
.page-about .section__accordion .company__btn--ico {
  display: block;
  width: 26rem;
  height: 26.75rem;
  background: url("../../assets/img/about/company_ico.png") center no-repeat;
  background-size: cover;
}
@media (min-width: 751px) {
  .page-about .section__accordion .company__btn--ico {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media (max-width: 750px) {
  .page-about .section__accordion .company__btn--ico {
    width: 13.125rem;
    height: 13.5rem;
    margin-left: auto;
    margin-top: 2.5rem;
  }
}
.page-about .section__accordion .statements {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .statements {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }
}
.page-about .section__accordion .statements__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 750px) {
  .page-about .section__accordion .statements__content {
    display: block;
  }
}
.page-about .section__accordion .statements__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.page-about .section__accordion .statements__text .c-media__ttl {
  margin-bottom: 1.5625rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .statements__text .c-media__ttl {
    margin-bottom: 1.625rem;
  }
}
.page-about .section__accordion .statements__photo {
  width: 52.0625rem;
  margin-left: 5rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .statements__photo {
    width: 21.4375rem;
    margin-left: 0;
    margin-top: 2.375rem;
  }
}
.page-about .section__accordion .registration {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration {
    padding-top: 2.5rem;
    padding-bottom: 2.625rem;
  }
}
.page-about .section__accordion .registration .c-ttl {
  font-size: 1rem;
  line-height: 1.36625;
  letter-spacing: -0.04em;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  color: #074494;
  margin-bottom: 0.5rem;
}
.page-about .section__accordion .registration .c-ttl02 {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-family: "Bona Nova", serif;
  color: #1A1C21;
  margin-bottom: 1.5rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration .c-ttl02 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1.6875rem;
  }
}
.page-about .section__accordion .registration__info {
  margin-bottom: 2.5rem;
}
.page-about .section__accordion .registration__info span {
  font-size: 1rem;
  line-height: 1.36625;
  letter-spacing: -0.04em;
  color: #1A1C21;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #1A1C21;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration__info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.page-about .section__accordion .registration__info span:after {
  content: "/";
  padding-left: 2rem;
  margin-right: 1.25rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration__info span:after {
    display: none;
  }
}
.page-about .section__accordion .registration__info span:last-of-type:after {
  content: "";
  padding-left: 0;
  margin-right: 0;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration__info span + span {
    margin-top: 1.5rem;
  }
}
.page-about .section__accordion .registration__info .--ico {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  margin-right: 1rem;
  position: relative;
  top: -0.125rem;
}
.page-about .section__accordion .registration__table--ttl {
  font-size: 1rem;
  line-height: 1.36625;
  letter-spacing: -0.04em;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  color: #074494;
  margin-bottom: 0.625rem;
}
.page-about .section__accordion .registration__table + .registration__table {
  margin-top: 2.625rem;
}
.page-about .section__accordion .registration__btn {
  margin-top: 2.5rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration .c-table {
    overflow: auto;
  }
}
.page-about .section__accordion .registration .c-table table {
  width: 80rem;
  border-collapse: collapse;
  border-spacing: 0;
  border: none !important;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration .c-table table {
    width: 48.75rem;
  }
}
.page-about .section__accordion .registration .c-table table thead {
  background: #0A68E2;
  color: #fff;
}
.page-about .section__accordion .registration .c-table table thead tr th {
  text-align: left;
  padding: 1rem 1rem;
  font-size: 1rem;
  line-height: 1.36625;
  letter-spacing: -0.04em;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration .c-table table thead tr th {
    padding: 1rem 1rem;
  }
}
.page-about .section__accordion .registration .c-table table thead tr th:nth-child(1) {
  width: 17.1875%;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration .c-table table thead tr th:nth-child(1) {
    width: 15.3846153846%;
  }
}
.page-about .section__accordion .registration .c-table table thead tr th:nth-child(2) {
  width: 48.4375%;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration .c-table table thead tr th:nth-child(2) {
    width: 28.2051282051%;
  }
}
.page-about .section__accordion .registration .c-table table thead tr th:nth-child(3) {
  width: 17.1875%;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration .c-table table thead tr th:nth-child(3) {
    width: 28.2051282051%;
  }
}
.page-about .section__accordion .registration .c-table table thead tr th:nth-child(4) {
  width: 17.1875%;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration .c-table table thead tr th:nth-child(4) {
    width: 28.2051282051%;
  }
}
.page-about .section__accordion .registration .c-table table tbody tr td {
  border-bottom: 1px solid #D8DAE1;
  font-size: 1rem;
  line-height: 1.36625;
  letter-spacing: -0.04em;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  color: #595B61;
  padding: 1rem 1rem 0.9375rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration .c-table table tbody tr td {
    padding: 1.6875rem 1rem 1.625rem;
  }
}
.page-about .section__accordion .registration .c-table--03 table thead tr th:nth-child(1) {
  width: 17.1875%;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration .c-table--03 table thead tr th:nth-child(1) {
    width: 15.3846153846%;
  }
}
.page-about .section__accordion .registration .c-table--03 table thead tr th:nth-child(2) {
  width: 65.625%;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration .c-table--03 table thead tr th:nth-child(2) {
    width: 56.4102564103%;
  }
}
.page-about .section__accordion .registration .c-table--03 table thead tr th:nth-child(3) {
  width: 17.1875%;
}
@media (max-width: 750px) {
  .page-about .section__accordion .registration .c-table--03 table thead tr th:nth-child(3) {
    width: 28.2051282051%;
  }
}
@media (max-width: 750px) {
  .page-about .section__accordion #certificates .c-toggle__main {
    overflow: auto;
  }
}
@media (max-width: 750px) {
  .page-about .section__accordion #certificates .container {
    padding-right: 0;
  }
}
@media (max-width: 750px) {
  .page-about .section__accordion #certificates .c-toggle__head {
    margin-right: 1rem;
  }
}
.page-about .section__accordion .certificates {
  padding-bottom: 5rem;
}
.page-about .section__accordion .certificates__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 751px) {
  .page-about .section__accordion .certificates__items {
    margin: 0 -1.25rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 750px) {
  .page-about .section__accordion .certificates__items {
    width: 100%;
    overflow-x: auto;
    padding-right: 1rem;
  }
}
.page-about .section__accordion .certificates__item {
  width: 25rem;
  color: inherit;
}
@media (min-width: 751px) {
  .page-about .section__accordion .certificates__item {
    margin: 0 1.25rem;
  }
}
@media (max-width: 750px) {
  .page-about .section__accordion .certificates__item {
    width: 18.125rem;
  }
}
@media (min-width: 751px) {
  .page-about .section__accordion .certificates__item:nth-child(n+4) {
    margin-top: 2.5rem;
  }
}
@media (max-width: 750px) {
  .page-about .section__accordion .certificates__item:nth-child(n+2) {
    margin-left: 1.5rem;
  }
}
.page-about .section__accordion .certificates__photo {
  width: 25rem;
  height: 36.125rem;
  position: relative;
}
@media (max-width: 750px) {
  .page-about .section__accordion .certificates__photo {
    width: 18.125rem;
    height: 26.125rem;
  }
}
.page-about .section__accordion .certificates__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-about .section__accordion .certificates__ttl {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.2;
  font-family: "Bona Nova", serif;
  padding-top: 1rem;
}
.page-about .section__accordion .awards {
  padding-bottom: 5rem;
}
.page-about .section__accordion .awards__photo {
  width: 80rem;
  height: 34.0625rem;
  position: relative;
}
@media (max-width: 750px) {
  .page-about .section__accordion .awards__photo {
    width: 21.4375rem;
    height: 9.125rem;
  }
}
.page-about .section__accordion .awards__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-about .section__accordion .awards__txt {
  font-size: 1rem;
  line-height: 1.36625;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  color: #595B61;
  margin-top: 2.5rem;
}
.page-about .section__accordion .awards__btn {
  margin-top: 1.5rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .awards__btn .c-btn span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
.page-about .section__accordion .structure {
  padding-top: 2.5rem;
  padding-bottom: 10rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .structure {
    padding-bottom: 4.375rem;
  }
}
.page-about .section__accordion .structure__items {
  position: relative;
}
.page-about .section__accordion .structure__items .structure__item {
  position: relative;
}
.page-about .section__accordion .structure__items .structure__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-about .section__accordion .structure__items .--head .structure__item {
  width: 30.875rem;
  height: 3.46875rem;
  margin: 0 auto 16.4375rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .structure__items .--head .structure__item {
    width: 21.4375rem;
    height: 2.375rem;
    margin-bottom: 5.75rem;
  }
}
.page-about .section__accordion .structure__items .--head .structure__item:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 1px;
  height: 8.25rem;
  background: #000;
}
@media (max-width: 750px) {
  .page-about .section__accordion .structure__items .--head .structure__item:before {
    display: none;
  }
}
.page-about .section__accordion .structure__items .--child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-inline: -3.4375rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .structure__items .--child {
    margin-inline: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.page-about .section__accordion .structure__items .--child .structure__item {
  width: 14.875rem;
  height: 14.875rem;
  border: 1px solid #D8DAE1;
  margin: 0 3.4375rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .structure__items .--child .structure__item {
    width: 13.75rem;
    height: 13.75rem;
    margin: 0.75rem 0;
  }
}
@media (max-width: 750px) {
  .page-about .section__accordion .structure__items .--child .structure__item:before {
    content: "";
    position: absolute;
    left: -6.4375rem;
    top: -8.375rem;
    width: 1px;
    height: 15.25rem;
    background: #000;
  }
}
.page-about .section__accordion .structure__items .--child .structure__item span {
  position: absolute;
  height: 8.25rem;
  width: 1px;
  background: #000;
  left: 50%;
  top: -8.25rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .structure__items .--child .structure__item span {
    width: 6.4375rem;
    height: 1px;
    left: auto;
    right: 100%;
    top: 50%;
  }
}
.page-about .section__accordion .structure__items .--child .structure__item span i {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0.375rem;
  height: 0.3125rem;
  border-top: solid 0.3125rem #000;
  border-left: solid 0.1875rem transparent;
  border-right: solid 0.1875rem transparent;
}
@media (max-width: 750px) {
  .page-about .section__accordion .structure__items .--child .structure__item span i {
    left: auto;
    right: 0;
    top: 50%;
    bottom: auto;
    width: 0.625rem;
    height: 0.5rem;
    border-top: solid 0.625rem #000;
    border-left: solid 0.25rem transparent;
    border-right: solid 0.25rem transparent;
    -webkit-transform: translateY(-50%) rotate(-90deg);
            transform: translateY(-50%) rotate(-90deg);
  }
}
@media (min-width: 751px) {
  .page-about .section__accordion .structure__items .--child .structure__item:nth-child(1):before {
    content: "";
    position: absolute;
    width: 32.625rem;
    height: 1px;
    background: #000;
    top: -8.25rem;
    left: 50%;
  }
}
@media (max-width: 750px) {
  .page-about .section__accordion .structure__items .--child .structure__item:nth-child(1):before {
    height: 13.0625rem;
    top: -6.25rem;
  }
}
@media (min-width: 751px) {
  .page-about .section__accordion .structure__items .--child .structure__item:nth-child(3):before {
    content: "";
    position: absolute;
    width: 16.3125rem;
    height: 1px;
    background: #000;
    top: -8.25rem;
    right: 50%;
  }
}
@media (min-width: 751px) {
  .page-about .section__accordion .structure__items .--child .structure__item:nth-child(4):before {
    content: "";
    position: absolute;
    width: 21.875rem;
    height: 1px;
    background: #000;
    top: -8.25rem;
    right: 50%;
  }
}
.page-about .section__accordion .team {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}
@media (max-width: 750px) {
  .page-about .section__accordion .team {
    padding-bottom: 2.5rem;
  }
}
.page-about .section__accordion .team__photo img {
  width: 100%;
}

.page-awards .awards-detail {
  padding-top: 7.5rem;
  padding-bottom: 5rem;
}
@media (max-width: 750px) {
  .page-awards .awards-detail {
    padding-top: 2.5rem;
  }
}
.page-awards .awards-detail__ttl {
  text-align: center;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-family: "Bona Nova", serif;
  color: #595B61;
  margin-bottom: 1.5rem;
}
@media (max-width: 750px) {
  .page-awards .awards-detail__ttl {
    font-size: 1.5rem;
    line-height: 1.1833333333;
  }
}
.page-awards .awards-detail__txt {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-family: "Bona Nova", serif;
  color: #595B61;
  width: 65rem;
  margin: 0 auto 5rem;
}
@media (max-width: 750px) {
  .page-awards .awards-detail__txt {
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 2.5rem;
  }
}
.page-awards .awards-detail__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 67.5rem;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .page-awards .awards-detail__items {
    display: block;
    width: 100%;
  }
}
.page-awards .awards-detail__item {
  width: 33.3333333333%;
  padding: 0 1.25rem;
  cursor: pointer;
  color: inherit;
}
@media (max-width: 750px) {
  .page-awards .awards-detail__item {
    width: 100%;
    display: block;
    padding: 0;
  }
}
@media (min-width: 751px) {
  .page-awards .awards-detail__item:nth-child(n+4) {
    margin-top: 2.5rem;
  }
}
@media (max-width: 750px) {
  .page-awards .awards-detail__item:nth-child(n+2) {
    margin-top: 1.25rem;
  }
}
.page-awards .awards-detail__item .c-photo {
  width: 20rem;
  height: 28.75rem;
  position: relative;
}
@media (max-width: 750px) {
  .page-awards .awards-detail__item .c-photo {
    width: 21.4375rem;
    height: 30.8125rem;
  }
}
.page-awards .awards-detail__item .c-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-awards .awards-detail__item .c-name {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-family: "Bona Nova", serif;
  padding-top: 1.25rem;
}
@media (max-width: 750px) {
  .page-awards .awards-detail__item .c-name {
    font-size: 1.5rem;
    line-height: 1.2;
    padding-top: 1rem;
  }
}
.page-awards .viewbox-container .viewbox-header {
  font-size: 1.125rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-family: "Bona Nova", serif;
  padding-top: 1.25rem;
}