.c-form .form-group {
  border: 1px solid #E7EAF1;
  padding: 1rem 1.5rem 0.375rem;
  position: relative;
}
.c-form .form-group + .form-group {
  margin-top: 1rem;
}
.c-form .form-group .label {
  display: block;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.36625;
  letter-spacing: -0.04em;
  color: #D8DAE1;
}
@media (max-width: 750px) {
  .c-form .form-group .label {
    font-size: 0.875rem;
    line-height: 1.3657142857;
  }
}
.c-form .form-group .input, .c-form .form-group textarea {
  border: none;
  outline: 0;
  width: 100%;
  padding: 0.5rem 0;
  letter-spacing: -0.04em;
  font-size: 1.125rem;
  line-height: 1.3661111111;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #595B61;
}
@media (max-width: 750px) {
  .c-form .form-group .input, .c-form .form-group textarea {
    font-size: 0.875rem;
    line-height: 1.3657142857;
  }
}
.c-form .form-group textarea {
  height: 6.125rem;
}
.c-form .form-group label.error {
  font-family: Manrope;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 1.36625;
  color: #FF4850;
  letter-spacing: 0.011em;
  position: absolute;
  left: 1.5rem;
  bottom: 0.1875rem;
}
.c-form .form-group input.error, .c-form .form-group textarea.error {
  color: #FF4850;
}
.c-form .select-menu .select-btn {
  border: none;
  outline: 0;
  width: 100%;
  padding: 0.5rem 0;
  letter-spacing: -0.04em;
  font-size: 1.125rem;
  line-height: 1.3661111111;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #595B61;
  cursor: pointer;
  position: relative;
}
@media (max-width: 750px) {
  .c-form .select-menu .select-btn {
    font-size: 0.875rem;
    line-height: 1.3657142857;
  }
}
.c-form .select-menu .select-btn .icon {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/icon_down.png") center no-repeat;
  background-size: 100%;
}
.c-form .select-menu .options {
  position: absolute;
  left: -0.0625rem;
  right: 0;
  width: 37.5rem;
  padding: 0 1.4375rem 0.875rem;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #E7EAF1;
  border-top: 0;
  -webkit-animation: fadeInDown 0.1s both;
          animation: fadeInDown 0.1s both;
}
@media (max-width: 750px) {
  .c-form .select-menu .options {
    width: 21.4375rem;
    top: 4.625rem;
  }
}
.c-form .select-menu .options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 0.75rem 0;
  background: #fff;
  border-top: 1px solid #E7EAF1;
}
.c-form .select-menu .options .option:first-child {
  padding-top: 1.25rem;
}
.c-form .select-menu .options .option .option-text {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.36625;
  letter-spacing: -0.04em;
  color: #D8DAE1;
  position: relative;
  width: 100%;
}
@media (max-width: 750px) {
  .c-form .select-menu .options .option .option-text {
    font-size: 0.875rem;
    line-height: 1.3657142857;
  }
}
.c-form .select-menu .options .option .option-text:after {
  content: "";
  display: block;
  position: absolute;
  top: 0.125rem;
  right: 0.5625rem;
  width: 0.375rem;
  height: 0.875rem;
  border: solid #0A68E2;
  border-width: 0 0.125rem 0.125rem 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  visibility: hidden;
}
.c-form .select-menu .options .option:hover .option-text, .c-form .select-menu .options .option.is-checked .option-text {
  color: #595B61;
}
.c-form .select-menu .options .option:hover .option-text:after, .c-form .select-menu .options .option.is-checked .option-text:after {
  opacity: 1;
  visibility: visible;
}
.c-form .select-menu.active .select-btn .icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.c-form .select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  -webkit-animation: fadeInUp 0.15s both;
          animation: fadeInUp 0.15s both;
}
.c-form .g-recaptcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.c-form .form-captcha {
  margin-top: 0.75rem;
}
.c-form .form-btn {
  text-align: right;
  margin-top: 1.125rem;
}
.c-form .form-btn button.c-btn {
  outline: 0;
  border: 0;
  background: 0;
}
.c-form .form-btn button.c-btn span {
  background: url("../img/icon-arrow-link_right-down-blue.png") no-repeat center right;
  background-size: 1.5rem;
  letter-spacing: -0.04em;
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
    opacity: 0;
    visibility: hidden;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
    opacity: 0;
    visibility: hidden;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
    opacity: 0;
    visibility: hidden;
  }
}
.page-careers .kv__text {
  margin: 2rem 0 2.875rem;
}
@media (max-width: 750px) {
  .page-careers .kv__text {
    margin: 0.875rem 0 2.375rem;
  }
}

.careers__top {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}
@media (max-width: 750px) {
  .careers__top {
    padding-top: 3.375rem;
    padding-bottom: 1.375rem;
  }
}
.careers__top .c-ttl {
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-family: "Bona Nova", serif;
  color: #595B61;
  padding-bottom: 1.5rem;
}
@media (max-width: 750px) {
  .careers__top .c-ttl {
    font-size: 2.625rem;
    line-height: 1.2;
    padding-bottom: 1.4375rem;
    margin-bottom: 2.25rem;
  }
}
.careers__top .c-ttl__style {
  position: relative;
}
@media (max-width: 750px) {
  .careers__top .c-ttl__style {
    padding-bottom: 1.25rem;
    margin-bottom: 1.0625rem;
  }
}
.careers__top .c-ttl__style:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 12.5625rem;
  height: 12.75rem;
  background: url("../img/careers/icon_dot.png") center no-repeat;
  background-size: 100%;
}
@media (max-width: 750px) {
  .careers__top .c-ttl__style:before {
    top: -0.875rem;
    width: 4.6875rem;
    height: 4.75rem;
  }
}
.careers__top .c-txt {
  font-size: 1.125rem;
  line-height: 1.3661111111;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  margin-right: 17.5rem;
}
@media (max-width: 750px) {
  .careers__top .c-txt {
    margin-right: 0.625rem;
    font-size: 1rem;
    line-height: 1.36625;
  }
}
.careers__form {
  padding-bottom: 5rem;
}
@media (max-width: 750px) {
  .careers__form {
    padding-bottom: 2.5rem;
  }
}
.careers__form--ttl {
  font-size: 1rem;
  line-height: 1.36625;
  font-weight: 700;
  letter-spacing: -0.04em;
  font-family: "Manrope", sans-serif;
  border-top: 1px solid #D8DAE1;
  padding-top: 2.5rem;
  margin-bottom: 1.0625rem;
}
@media (max-width: 750px) {
  .careers__form--ttl {
    font-size: 1rem;
    line-height: 1.36625;
    padding-top: 1.5rem;
  }
}
.careers__form .c-form .select-menu .options {
  width: calc(100% + 0.125rem);
}
.careers__more--top .text-scroll {
  padding: 1.5rem 0 1.375rem;
  border-top: 1px solid #D8DAE1;
  border-bottom: 1px solid #D8DAE1;
  pointer-events: none;
}
.careers__more--top .text-scroll .swiper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.careers__more--top .text-scroll .swiper-text .text {
  padding-left: 3.375rem;
  margin-right: 2rem;
  background-image: url("../img/top/first_icon.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 2.375rem;
  font-size: 3.75rem;
  line-height: 1.2;
  white-space: nowrap;
}
.careers__more--main {
  padding: 10rem 0;
  background: linear-gradient(89.08deg, #000821 13.48%, #011045 62.2%, #000927 98.41%);
}
@media (max-width: 750px) {
  .careers__more--main {
    padding: 1.5rem 0;
  }
}
.careers__more--main .c-ttl {
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-weight: 400;
  color: #fff;
  font-family: "Bona Nova", serif;
  padding-bottom: 1.375rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #D8DAE1;
}
@media (max-width: 750px) {
  .careers__more--main .c-ttl {
    font-size: 2rem;
    line-height: 1.2;
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;
  }
}
.careers__more--main .c-banner {
  background: #F0F3FA;
  padding: 5rem;
}
@media (max-width: 750px) {
  .careers__more--main .c-banner {
    padding: 1.5rem 1.5rem 1rem;
  }
}
.careers__more--main .c-banner__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.4375rem;
}
@media (max-width: 750px) {
  .careers__more--main .c-banner__top {
    display: block;
    position: relative;
    padding-bottom: 3rem;
  }
  .careers__more--main .c-banner__top:before {
    content: "";
    position: absolute;
    left: -0.5rem;
    right: -0.5rem;
    bottom: 0;
    height: 0.5rem;
    background: #074494;
  }
}
.careers__more--main .c-banner__top .c-ttl02 {
  display: block;
  margin-top: 0.25rem;
  border-bottom: 0.5rem solid #074494;
  padding-bottom: 1rem;
}
@media (max-width: 750px) {
  .careers__more--main .c-banner__top .c-ttl02 {
    border-bottom: none;
    padding-bottom: 0.75rem;
  }
}
.careers__more--main .c-banner__top .c-ttl02 a {
  display: block;
  width: 26.875rem;
  height: 21.875rem;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 750px) {
  .careers__more--main .c-banner__top .c-ttl02 a {
    width: 14.375rem;
    height: 12.1875rem;
  }
}
.careers__more--main .c-banner__top .c-ttl02 a:hover {
  opacity: 0.8;
}
.careers__more--main .c-banner__top .c-ttl02 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.careers__more--main .c-banner__top .c-dots {
  width: 12.5625rem;
  height: 12.75rem;
  position: relative;
}
@media (max-width: 750px) {
  .careers__more--main .c-banner__top .c-dots {
    width: 4.6875rem;
    height: 4.75rem;
    margin-left: -0.625rem;
  }
}
.careers__more--main .c-banner__top .c-dots img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.careers__more--main .c-banner__mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 750px) {
  .careers__more--main .c-banner__mid {
    display: block;
    padding-top: 1.5rem;
    margin-inline: -0.5rem;
  }
}
.careers__more--main .c-banner__mid .c-txt {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3661111111;
  letter-spacing: -0.04em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.careers__more--main .c-banner__mid .c-banner__btn {
  width: 10.25rem;
  margin-left: 1.25rem;
}
@media (max-width: 750px) {
  .careers__more--main .c-banner__mid .c-banner__btn {
    margin-top: 1.625rem;
    margin-left: auto;
  }
}
.careers__more--main .c-banner__mid .c-banner__btn .c-btn {
  padding-inline: 0.625rem;
  width: 100%;
}
.careers__more--main .c-banner__btm {
  width: 43.125rem;
  margin-top: 3.9375rem;
  padding-top: 1.5rem;
  border-top: 1px solid #D8DAE1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 750px) {
  .careers__more--main .c-banner__btm {
    width: auto;
    display: block;
    margin-inline: -1.5rem;
    margin-top: 2.5rem;
    padding: 1.5rem 1rem 0;
  }
}
.careers__more--main .c-banner__btm .c-logo {
  position: relative;
  width: 13.75rem;
  height: 3.4375rem;
  margin-right: 1.5rem;
}
.careers__more--main .c-banner__btm .c-logo a {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.careers__more--main .c-banner__btm .c-logo a:hover {
  opacity: 0.8;
}
.careers__more--main .c-banner__btm .c-logo a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.careers__more--main .c-banner__btm .c-txt02 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3661111111;
  letter-spacing: -0.04em;
}
@media (max-width: 750px) {
  .careers__more--main .c-banner__btm .c-txt02 {
    padding-top: 1.5rem;
  }
}