// default settings
@import "_base/settings";
@import "_base/mixin";

// CUSTOM STYLES //
// ======================================= //

.page-careers{
  .careers{
    &__more{
      &--top{
        .text-scroll {
          padding: rem(24) 0 rem(22);
          border-top: 1px solid $cl-line;
          border-bottom: 1px solid $cl-line;
          pointer-events: none;
          .swiper-text {
            display: flex;
            .text {
              padding-left: rem(54);
              margin-right: rem(32);
              background-image: url("../img/top/first_icon.png");
              background-repeat: no-repeat;
              background-position: center left;
              background-size: rem(38);
              font-size: rem(60);
              line-height: calc(72/60);
              white-space: nowrap;
            }
          }
        }
      }
      &--main{
        padding: rem(160) 0;
        @include sp{
          padding: rem(24) 0;
        }
        .c-ttl{
          font-size: rem(60);
          line-height: calc(72/60);
          letter-spacing: -0.04em;
          font-weight: 400;
          color: $cl-body;
          @include fontBonaNova;
          padding-bottom: rem(22);
          margin-bottom: rem(40);
          border-bottom: 1px solid $cl-line;
          @include sp{
            font-size: rem(32);
            line-height: calc(38.4/32);
            padding-bottom: rem(24);
            margin-bottom: rem(40);
          }
        }
        .c-banner{
          background: #F0F3FA;
          padding: rem(80);
          @include sp{
            padding: rem(24) rem(24) rem(16);
          }
          &__top{
            display: flex;
            justify-content: space-between;
            padding-bottom: rem(23);
            @include sp{
              display: block;
              position: relative;
              padding-bottom: rem(48);
              &:before{
                content: '';
                position: absolute;
                left: rem(-8);
                right: rem(-8);
                bottom: 0;
                height: rem(8);
                background: $cl-link;
              }
            }
            .c-ttl02{
              display: block;
              margin-top: rem(4);
              border-bottom: rem(8) solid $cl-link;
              padding-bottom: rem(16);
              @include sp{
                border-bottom: none;
                padding-bottom: rem(12);
              }
              a{
                display: block;
                width: rem(430);
                height: rem(350);
                position: relative;
                transition: all .3s ease-in-out;
                @include sp{
                  width: rem(230);
                  height: rem(195);
                }
                &:hover{
                  opacity: 0.8;
                }
              }
              img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .c-dots{
              width: rem(201);
              height: rem(204);
              position: relative;
              @include sp{
                width: rem(75);
                height: rem(76);
                margin-left: rem(-10);
              }
              img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          &__mid{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include sp{
              display: block;
              padding-top: rem(24);
              margin-inline: rem(-8);
            }
            .c-txt{
              font-size: rem(18);
              font-weight: 400;
              line-height: calc(24.59/18);
              letter-spacing: -0.04em;
              flex: 1;
            }
            .c-banner__btn{
              width: rem(164);
              margin-left: rem(20);
              @include sp{
                margin-top: rem(26);
                margin-left: auto;
              }
              .c-btn{
                padding-inline: rem(10);
                width: 100%;
              }
            }
          }
          &__btm{
            width: rem(690);
            margin-top: rem(63);
            padding-top: rem(24);
            border-top: 1px solid $cl-line;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include sp{
              width: auto;
              display: block;
              margin-inline: rem(-24);
              margin-top: rem(40);
              padding: rem(24) rem(16) 0;
            }
            .c-logo{
              position: relative;
              width: rem(220);
              height: rem(55);
              margin-right: rem(24);
              a{
                display: block;
                transition: all .3s ease-in-out;
                &:hover{
                  opacity: 0.8;
                }
                img{
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
            .c-txt02{
              flex: 1;
              font-size: rem(18);
              font-weight: 400;
              line-height: calc(24.59/18);
              letter-spacing: -0.04em;
              @include sp{
                padding-top: rem(24);
              }
            }
          }
        }
      }
    }
    .c-modal{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #010637, $alpha: 0.67);
      z-index: 100;
      display: none;
      &.is-active{
        display: block;
      }
      .c-modal__inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(540);
        padding: rem(120) rem(40) rem(60);
        background: #fff;
        @include sp{
          width: rem(343);
          padding: rem(92) rem(24) rem(24);
        }
        .c-modal__close{
          position: absolute;
          top: rem(42);
          right: rem(40);
          width: rem(56);
          height: rem(56);
          background: url("../img/icon_close_modal.png") center no-repeat;
          background-size: 100%;
          cursor: pointer;
          @include sp{
            width: rem(44);
            height: rem(44);
            top: rem(24);
            right: rem(24);
          }
        }
        .c-modal__ttl{
          font-size: rem(72);
          line-height: calc(86.4/72);
          letter-spacing: -0.04em;
          font-weight: 400;
          @include fontBonaNova;
          color: $cl-body;
          margin-bottom: rem(24);
          text-align: center;
          @include sp{
            font-size: rem(42);
            line-height: calc(50.4/42);
            margin-bottom: rem(24);
          }
        }
        .c-modal__txt{
          font-size: rem(18);
          line-height: calc(24.59/18);
          letter-spacing: -0.04em;
          font-weight: 400;
          @include fontManrope;
          color: $cl-body;
          margin-bottom: rem(24);
          text-align: center;
          @include sp{
            font-size: rem(16);
            line-height: calc(21.86/16);
            margin-bottom: rem(16);
          }
        }
      }
    }
  }
}
