// default settings
@import "_base/settings";
@import "_base/mixin";

// CUSTOM STYLES //
// ======================================= //

@import "../css/component/form";

.page-contact{
  .kv__text{
    margin: rem(32) 0 rem(46);
    @include sp{
      margin: rem(14) 0 rem(38);
    }
  }
}

.contact{
  padding-bottom: rem(80);
  @include sp{
    padding-bottom: rem(40);
  }
  &__content{
    padding-top: rem(80);
    @include pc{
      display: flex;
      justify-content: space-between;
    }
    @include sp{
      padding-top: rem(40);
    }
    > div{
      @include pc{
        width: rem(640);
      }
      &:first-child{
        @include pc{
          border-right: 1px solid #E7EAF1;
          padding-right: rem(40);
        }
        @include sp{
          padding-bottom: rem(40);
          margin-bottom: rem(60);
          border-bottom: 1px solid #E7EAF1;
        }
      }
      &:last-child{
        @include pc{
          padding-left: rem(40);
        }
      }
    }
    .c-ttl{
      font-size: rem(72);
      line-height: calc(86.4/72);
      letter-spacing: -0.04em;
      font-weight: 400;
      @include fontBonaNova;
      color: $cl-body;
      padding-bottom: rem(21);
      margin-bottom: rem(24);
      border-bottom: 1px solid #E7EAF1;
      @include sp{
        font-size: rem(24);
        line-height: calc(28.8/24);
        padding-bottom: rem(24);
        margin-bottom: rem(24);
      }
      &__style{
        position: relative;
        @include sp{
          padding-bottom: rem(48);
          margin-bottom: rem(24);
        }
        &:before{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: rem(75);
          height: rem(75);
          background: url("../img/contact/ico_dot.png") center no-repeat;
          background-size: 100%;
          @include sp{
            top: rem(-24);
          }
        }
      }
    }
  }
  &__info{
    .c-address{
      margin-bottom: rem(24);
      dl{
        + dl{
          margin-top: rem(18);
          @include sp{
            margin-top: rem(24);
          }
        }
        dt{
          font-size: rem(16);
          font-weight: 700;
          line-height: calc(21.86/16);
          letter-spacing: -0.04em;
          color: $cl-line;
          @include fontManrope;
          margin-bottom: rem(4);
          @include sp{
            font-size: rem(14);
            line-height: calc(19.12/14);
          }
        }
        dd{
          font-size: rem(18);
          font-weight: 400;
          line-height: calc(24.59/18);
          letter-spacing: -0.04em;
          @include fontManrope;
          @include sp{
            font-size: rem(14);
            line-height: calc(19.12/14);
          }
        }
      }
    }
    .c-map{
      width: rem(600);
      height: rem(485);
      margin-bottom: rem(24);
      @include sp{
        width: rem(343);
        height: rem(365);
      }
      iframe{
        width: 100%;
        height: 100%;
      }
    }
    .c-info__btn{
      .c-btn{
        span{
          background: url("../img/icon-arrow-link_right-down-blue.png") no-repeat center right;
          background-size: rem(24);
        }
      }
    }
  }
  .c-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #010637, $alpha: 0.67);
    z-index: 100;
    display: none;
    &.is-active{
      display: block;
    }
    .c-modal__inner{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(540);
      padding: rem(120) rem(40) rem(60);
      background: #fff;
      @include sp{
        width: rem(343);
        padding: rem(92) rem(24) rem(24);
      }
      .c-modal__close{
        position: absolute;
        top: rem(42);
        right: rem(40);
        width: rem(56);
        height: rem(56);
        background: url("../img/icon_close_modal.png") center no-repeat;
        background-size: 100%;
        cursor: pointer;
        @include sp{
          width: rem(44);
          height: rem(44);
          top: rem(24);
          right: rem(24);
        }
      }
      .c-modal__ttl{
        font-size: rem(72);
        line-height: calc(86.4/72);
        letter-spacing: -0.04em;
        font-weight: 400;
        @include fontBonaNova;
        color: $cl-body;
        margin-bottom: rem(24);
        text-align: center;
        @include sp{
          font-size: rem(42);
          line-height: calc(50.4/42);
          margin-bottom: rem(24);
        }
      }
      .c-modal__txt{
        font-size: rem(18);
        line-height: calc(24.59/18);
        letter-spacing: -0.04em;
        font-weight: 400;
        @include fontManrope;
        color: $cl-body;
        margin-bottom: rem(24);
        text-align: center;
        @include sp{
          font-size: rem(16);
          line-height: calc(21.86/16);
          margin-bottom: rem(16);
        }
      }
    }
  }
}
