// default settings
@import "_base/settings";
@import "_base/mixin";

// component
@import "./component/toggle";
@import "./component/slider_center";
@import "./component/slider-progress";

// layout
@import "./layout/project-list";
@import "./layout/you-may-also-care";

// CUSTOM STYLES //
// ======================================= //

.page-detail {
  .kv {
    .fmd {
      background-color: #E8F9FF;
      align-self: self-start;
      display: inline-block;
      border-radius: rem(16);
      padding: 0 rem(16);
      margin-left: rem(8);
      min-width: rem(57);
      line-height: rem(32);
      text-align: center;
      font-weight: bold;
      font-size: rem(12);
      letter-spacing: 0;
      color: $cl-primary;
      &.active {
        background-color: $cl-primary-light;
        color: $cl-white;
      }
      @include sp {
        position: relative;
        top: rem(10);
      }
    }
  }
}
// style page project
.page-project {
  .section {
    padding: rem(80) 0;
    @include sp {
      padding: rem(40) 0;
    }
    &__title {
      text-align: center;
      color: $cl-title;
    }
    &__description {
      @include fontBonaNova;
      margin: rem(24) auto 0;
      font-size: rem(24);
      font-weight: 400;
      letter-spacing: -0.04em;
      line-height: 1.2;
      text-align: center;
      color: inherit;
      &.--mw-802 {
        max-width: rem(802) !important;
      }
      @include sp {
        font-size: rem(20);
      }
    }
  }
  .l-project-list--detail {
    @include pc {
      padding-top: 0;
      .container {
        border-top: 1px solid $cl-line;
        padding-top: rem(80);
      }
    }
    .others {
      @include pc {
        margin-top: rem(40);
      }
    }
  }
  // project top
  .project-slider {
    .section__title {
      margin-bottom: rem(40);
      color: $cl-body;
    }
    .row {
      @include pc{
        margin-right: rem(-80);
      }
      .item {
        width: rem(400);
        margin-right: rem(80);
        display: block;
        color: inherit;
        @include pc {
          &:hover {
            .photo, .c-title {
              opacity: 0.7;
            }
          }
        }
        @include sp {
          width: rem(343);
          margin-right: rem(24);
        }
        .photo {
          height: rem(225);
          transition: all ease .3s;
          @include sp{
            height: rem(192);
          }
          a {
            display: block;
            height: 100%;
          }
        }
        .c-title {
          transition: all ease .3s;
          margin-top: rem(16);
          font-size: rem(32);
          color: inherit;
          @include sp{
            font-size: rem(24);
            line-height: calc(28.8/24);
          }
        }
        .txt {
          margin-top: rem(8);
          overflow: hidden;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          white-space: normal;
          font-size: rem(16);
        }
      }
    }
    .slick-dots {
      display: none !important;
    }
    .slick-arrow {
      position: relative;
      left: auto;
      top: auto;
      margin-top: 0;
    }
    .slick-progress {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: rem(40);
      width: 100%;
      .progress {
        display: block;
        flex: 1;
        height: 2px;
        overflow: hidden;
        background-color: #E7EAF1;
        background-image: linear-gradient(to right, $cl-primary-light, $cl-primary-light);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size .4s ease;
      }
      .controls {
        width: rem(90);
        margin-left: rem(8);
        display: flex;
      }
    }
  }
}

.page-project-list{
  .l-project-list {
    .c-slider-center{
      @include sp{
        margin-top: rem(40);
      }
    }
    .others{
      @include sp{
        margin-top: 0;
      }
    }
  }
}

.page-project-detail{
  .kv{
    .fmd{
      @include sp{
        position: static;
        margin-left: 0;
        margin-top: rem(24);
      }
    }
  }
  .project-detail {
    padding-bottom: rem(160);
    padding-top: rem(160);
    @include sp {
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
    .content__head {
      @include pc {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      &--title{
        font-size: rem(60);
        font-weight: 400;
        line-height: calc(72/60);
        letter-spacing: -0.04em;
        color: $cl-title;
        @include fontBonaNova;
        width: rem(800);
        margin-right: rem(40);
        @include sp{
          width: 100%;
          margin-right: 0;
          padding-right: rem(10);
          font-size: rem(32);
          line-height: calc(38.4/32);
        }
      }
      &--info {
        flex: 1;
        @include sp {
          margin-top: rem(4);
          padding-block: rem(16);
          flex-wrap: wrap;
        }
        dl {
          padding-left: rem(24);
          border-left: 1px solid #E7EAF1;
          flex: auto;
          @include sp {
            width: 100%;
          }
          + dl{
            margin-top: rem(24);
          }
          dt {
            margin-bottom: rem(4);
            text-transform: uppercase;
            font-weight: bold;
            font-size: rem(16);
            color: $cl-primary;
            @include sp {
              font-size: rem(14);
            }
          }
        }
      }
    }
    .content__editor {
      padding-block: rem(80) rem(40);
      line-height: 1.38;
      @include sp {
        padding-block: rem(20) rem(22);
        line-height: 1.36;
      }
      .image {
        margin-block: rem(40);
        @include sp {
          margin-block: rem(24);
        }
      }
    }
  }
}
