.c-form{
  .form-group{
    border: 1px solid #E7EAF1;
    padding: rem(16) rem(24) rem(6);
    position: relative;
    + .form-group{
      margin-top: rem(16);
    }
    .label{
      display: block;
      @include fontManrope;
      font-size: rem(16);
      font-weight: 700;
      line-height: calc(21.86/16);
      letter-spacing: -0.04em;
      color: $cl-line;
      @include sp{
        font-size: rem(14);
        line-height: calc(19.12/14);
      }
    }
    .input, textarea{
      border: none;
      outline: 0;
      width: 100%;
      padding: rem(8) 0;
      letter-spacing: -0.04em;
      font-size: rem(18);
      line-height: calc(24.59/18);
      @include fontManrope;
      font-weight: 400;
      color: $cl-body;
      @include sp{
        font-size: rem(14);
        line-height: calc(19.12/14);
      }
    }
    textarea{
      height: rem(98);
    }
    label.error{
      font-family: Manrope;
      font-size: rem(8);
      font-weight: 400;
      line-height: calc(10.93/8);
      color: #FF4850;
      letter-spacing: 0.011em;
      position: absolute;
      left: rem(24);
      bottom: rem(3);
    }
    input.error, textarea.error{
      color: #FF4850;
    }
  }
  .select-menu {
    .select-btn {
      border: none;
      outline: 0;
      width: 100%;
      padding: rem(8) 0;
      letter-spacing: -0.04em;
      font-size: rem(18);
      line-height: calc(24.59/18);
      @include fontManrope;
      font-weight: 400;
      color: $cl-body;
      cursor: pointer;
      position: relative;
      @include sp{
        font-size: rem(14);
        line-height: calc(19.12/14);
      }
      .icon{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: rem(24);
        height: rem(24);
        background: url("../img/icon_down.png") center no-repeat;
        background-size: 100%;
      }
    }
    .options {
      position: absolute;
      left: rem(-1);
      right: 0;
      width: rem(600);
      padding: 0 rem(23) rem(14);
      overflow-y: auto;
      // max-height: 295px;
      background: #fff;
      border: 1px solid #E7EAF1;
      border-top: 0;
      animation: fadeInDown 0.1s both;
      @include sp{
        width: rem(343);
        top: rem(74);
      }
      .option {
        display: flex;
        cursor: pointer;
        padding: rem(12) 0;
        background: #fff;
        border-top: 1px solid #E7EAF1;
        &:first-child{
          padding-top: rem(20);
        }
        .option-text {
          @include fontManrope;
          font-size: rem(16);
          font-weight: 700;
          line-height: calc(21.86/16);
          letter-spacing: -0.04em;
          color: $cl-line;
          position: relative;
          width: 100%;
          @include sp{
            font-size: rem(14);
            line-height: calc(19.12/14);
          }
          &:after{
            content: '';
            display: block;
            position: absolute;
            top: rem(2);
            right: rem(9);
            width: rem(6);
            height: rem(14);
            border: solid $cl-primary-light;
            border-width: 0 rem(2) rem(2) 0;
            transform: rotate(45deg);
            opacity: 0;
            visibility: hidden;
          }
        }
        &:hover, &.is-checked{
          .option-text{
            color: $cl-body;
            &:after{
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
    &.active{
      .select-btn{
        .icon{
          transform: translateY(-50%) rotate(180deg);
        }
      }
      .options {
        display: block;
        opacity: 0;
        z-index: 10;
        animation: fadeInUp 0.15s both;
      }
    }
  }
  
  .g-recaptcha{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .form-captcha{
    margin-top: rem(12);
  }
  .form-btn{
    text-align: right;
    margin-top: rem(18);
    button.c-btn{
      outline: 0;
      border: 0;
      background: 0;
      span{
        background: url("../img/icon-arrow-link_right-down-blue.png") no-repeat center right;
        background-size: rem(24);
        letter-spacing: -0.04em;
      }
    }
  }
}

    
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translate3d(0, 5px, 0);
    opacity: 0;
    visibility: hidden;
  }
}