
.c-slider-center {
  position: relative;
  .item {
    width: rem(1146);
    margin: 0 rem(20);
    position: relative;
    @include sp {
      width: rem(325);
      height: 100%;
      margin: 0 rem(8);
      background-color: #fff;
    }
    &__img {
      width: 100%;
      height: rem(549);
      @include sp {
        height: rem(140);
      }
    }
    &__group {
      background-color: #fff;
      margin-left: auto;
      margin-right: rem(40);
      width: rem(493);
      position: relative;
      z-index: 1;
      padding: rem(40);
      color: $cl-body;
      @include pc {
        margin-top: rem(-237);
      }
      @include sp {
        padding: rem(24) rem(16);
        margin: 0 auto 0;
        width: 100%;
        // opacity: 0;
      }
      .logo {
        width: rem(125);
        height: rem(103);
        @include sp{
          width: max-content;
          height: rem(80);
          img{
            height: 100%;
            width: auto;
          }
        }
        img {
          max-height: 100%;
        }
      }
      .fmd {
        background-color: #E8F9FF;
        display: inline-block;
        float: right;
        border-radius: rem(16);
        padding: 0 rem(16);
        line-height: rem(32);
        text-align: center;
        font-weight: bold;
        font-size: rem(12);
        letter-spacing: 0;
        color: $cl-primary;
      }
      dl {
        margin-top: rem(32);
        @include sp {
          margin-top: rem(24);
        }
        dt{
          @include sp{
            font-size: rem(20);
            line-height: calc(24/20);
          }
        }
        dd {
          margin-top: rem(16);
          font-size: rem(12);
          letter-spacing: -0.1px;
          font-weight: bold;
          color: $cl-primary-light;
        }
      }
      .text {
        margin-top: rem(32);
        @include sp {
          margin-top: rem(24);
        }
      }
      .btn {
        margin-top: rem(52);
        @include sp {
          margin-top: rem(24);
        }
      }
    }
  }
  .slick-list {
    padding: 0 rem(47) !important;
  }
  .slick-arrow {
    position: relative;
    left: auto;
    top: auto;
    margin-top: 0;
  }
  .slider-counter {
    @include sp{
      position: absolute;
      bottom: rem(153);
      left: 50%;
      margin-left: rem(-458);
      font-size: rem(16);
      font-weight: bold;
      color: $cl-title;
      margin-left: 0;
      position: static;
      margin-inline: rem(10);
    }
  }
  .slick-control-wrap{
    @include sp{
      border-radius: rem(20);
      width: rem(150);
      margin-left: auto;
      margin-right: 0;
      display: flex;
      position: relative;
      padding-right: rem(20);
      // margin-top: rem(-82);
      // padding-bottom: rem(40);
      top: rem(-63);
    }
  }
}
.slick-control-wrap {
  position: absolute;
  top: rem(606);
  left: 50%;
  margin-left: rem(-494);
  display: flex;
  align-items: center;
  justify-content: center;
  @include sp {
    display: none;
    position: relative;
    margin-left: 0;
    left: auto;
    top: auto;
  }
}
.slider-counter {
  margin-inline: rem(8);
  min-width: rem(28);
  font-size: rem(16);
  font-weight: bold;
  text-align: center;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}