@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&display=swap');

@font-face {
  font-family: Prospec-Light;
  src: url(../fonts/Prospec-Light.ttf);
}

.fnt-prospec {
  font-family: "Prospec-Light", sans-serif;
}
// font manrope
.fnt-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

// font bona-nova
.fnt-bona-nova {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: normal;
}