.header {
  padding: rem(24) 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  transition: width .2s ease-in-out;
  @include sp {
    padding: rem(16) 0;
  }
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: rem(120);
    transition: width .2s ease-in-out;
    @include sp {
      width: rem(84);
    }
  }
  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: $cl-body;
    .language {
      position: relative;
      @include sp {
        border-top: 1px solid $cl-gray;
        padding-top: rem(20);
        margin-top: rem(24);
        color: $cl-line;
        padding-bottom: rem(40);
      }
      &__btn {
        display: flex;
        align-items: center;
        padding-right: rem(35);
        position: relative;
        font-size: rem(16);
        font-weight: bold;
        user-select: none;
        cursor: pointer;
        @include sp {
          padding-block: rem(13);
        }
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: rem(-12);
          width: rem(24);
          height: rem(24);
          background: url(../../img/icon-arrow-drop_down-gray.png) no-repeat center center / 100%;
        }
        img {
          margin-right: rem(8);
          width: rem(24);
        }
        &.active{
          &:after{
            transform: rotate(180deg);
          }
        }
      }
      ul {
        display: none;
        list-style: none;
        padding: rem(5) 0;
        z-index: 1;
        @include pc {
          width: rem(165);
          padding: rem(8) 0 rem(12) rem(16);
          position: absolute;
          top: 100%;
          left: rem(-16);
          background: #fff;
        }
        li {
          display: flex;
          align-items: center;
          position: relative;
          padding: rem(8) 0 rem(4) 0;
          cursor: pointer;
          @include sp {
            padding: rem(8) 0;
            // opacity: 0.32;
            color: $cl-line;
          }
          span {
            display: inline-block;
            padding-right: rem(32);
            @include sp {
              display: block;
            }
          }
          img {
            margin-right: rem(8);
            width: rem(24);
            @include sp {
              display: none;
            }
          }
          &.active {
            @include pc {
              span {
                background: url(../../img/icon-ticked.png) no-repeat center right;
                background-size: rem(24);
              }
            }
            @include sp {
              background: url(../../img/icon-ticked.png) no-repeat center right;
              background-size: rem(24);
              opacity: 1;
            }
          }
        }
      }
    }
    .search {
      width: rem(24);
      margin-left: rem(40);
      cursor: pointer;
      transition: all ease .3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__nav {
    margin-right: rem(30);
    margin-left: auto;
    @include sp {
      display: none;
    }
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin-left: rem(25);
        font-weight: bold;
        color: #3B4043;
        a {
          color: inherit;
          text-decoration: none;
        }
        .c-btn {
          padding: 0 rem(20);
          line-height: rem(40);
        }
      }
    }
  }
  .hamburger {
    margin-left: rem(40);
    font-weight: bold;
    cursor: pointer;
    &__menu {
      display: flex;
      align-items: center;
      padding: rem(10) 0;
      transition: all ease .3s;
      &:hover {
        opacity: 0.7;
      }
      span {
        margin-right: rem(18);
      }
      b {
        display: block;
        width: rem(40);
        height: rem(12);
        position: relative;
        &:before, &:after {
          content: '';
          width: 100%;
          position: absolute;
          left: 0;
          border-top: 2px solid $cl-body;
        }
        &:before {
          top: 0;
        }
        &:after {
          bottom: 0;
        }
      }
    }
    &__close {
      background: url(../../img/icon-close-nav.png) no-repeat center center / 100%;
      position: absolute;
      top: rem(40);
      right: rem(40);
      width: rem(56);
      height: rem(56);
      color: #fff;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
      @include sp {
        background-image: url(../../img/icon-close-nav_sp.png);
        top: rem(29);
        right: rem(16);
        width: rem(30);
        height: rem(30);
      }
    }
  }
  .menu-toggle {
    display: none;
    background: url(../../img/bg_menu.jpg) no-repeat bottom right / cover;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 0 rem(120);
    color: $cl-body;
    @include sp {
      background: #fff;
      padding: rem(16) rem(16) rem(56);
    }
    *{
      -ms-overflow-style: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      padding-top: rem(100);
      @include sp {
        padding-top: 0;
        display: block;
        overflow: auto;
        max-height: 100%;
      }
    }
    &__logo {
      width: rem(250);
      @include sp {
        width: rem(84);
      }
    }
    &__nav {
      @include fontBonaNova;
      width: rem(600);
      max-height: calc(100vh - rem(100));
      margin-left: auto;
      list-style: none;
      font-size: rem(60);
      line-height: calc(80/60);
      overflow: auto;
      letter-spacing: -0.04em;
      @include queryHeightDown(780px) {
        font-size: rem(32);
      }
      @include sp {
        margin-top: rem(40);
        width: 100%;
        font-size: rem(24);
        line-height: calc(28.8/24);
      }
      li {
        margin-bottom: rem(16);
        @include sp {
          margin-bottom: rem(24);
        }
        a {
          background-repeat: no-repeat;
          background-position: center right;
          background-size: rem(80);
          transition: all ease .3s;
          position: relative;
          color: inherit;
          text-decoration: none;
          display: block;
          &:hover {
            @include pc{
              background-image: url(../../img/icon-arrow-link_right-blue.png);
              color: $cl-primary;
            }
          }
          @include queryHeightDown(780px) {
            background-size: rem(50);
          }
        }
      }
    }
    &__social {
      @include fontManrope;
      font-size: rem(14);
      font-weight: 700;
      list-style: none;
      color: inherit;
      @include pc {
        font-size: rem(24);
        position: absolute;
        bottom: rem(100);
        left: rem(120);
        color: $cl-line;
      }
      @include sp {
        padding-top: 0;
        color: $cl-line;
      }
      @include queryHeightDown(780px) {
        bottom: rem(50);
        font-size: rem(20);
      }
      li {
        margin-bottom: rem(16);
        transition: all ease .3s;
        a {
          text-decoration: none;
          color: inherit;
        }
        &:hover {
          color: $cl-primary;
        }
      }
    }
  }
  .search-toggle {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding-block: rem(136) rem(40);
    color: $cl-body;
    @include sp {
      background: #fff;
      padding: rem(88) rem(16) rem(40);
    }
    *{
      -ms-overflow-style: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    &__wrap {
      max-width: rem(848);
      margin: 0 auto;
      max-height: 100%;
      overflow: auto;
      @include sp{
        padding-bottom: rem(80);
      }
    }
    &__logo {
      position: absolute;
      top: rem(40);
      left: rem(80);
      width: rem(120);
      @include sp {
        left: rem(16);
        top: rem(16);
        width: rem(84);
      }
    }
    &__input {
      background: url(../../img/icon-search-gray.png) no-repeat center right;
      background-size: rem(44);
      border-bottom: 1px solid;
      padding: rem(24) rem(60) rem(24) 0;
      @include sp{
        background-size: rem(32);
        border-bottom: 1px solid $cl-body;
        padding: rem(20) rem(40) rem(19) 0;
        margin-top: rem(12);
      }
      input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        height: rem(72);
        color: $cl-body;
        @include sp {
          height: rem(44);
          color: inherit;
          font-size: rem(24);
          &::placeholder {
            color: $cl-body;
          }
        }
      }
    }
    &__menu {
      display: flex;
      gap: rem(80);
      margin-top: rem(32);
      @include sp {
        display: block;
        color: $cl-line;
        font-size: rem(12);
        margin-top: rem(18);
      }
      ul {
        list-style: none;
        @include sp {
          width: 50%;
        }
        li {
          padding: rem(8) 0 rem(7);
          letter-spacing: 0;
          &:hover {
            color: $cl-primary;
          }
          a {
            color: inherit;
          }
        }
      }
    }
    &__article {
      .item {
        margin-top: rem(40);
        @include pc {
          @include grid(275, 40);
        }
        @include sp {
          padding-bottom: rem(24);
          border-bottom: 1px solid;
          margin-top: rem(24);
        }
        .photo{
          @include sp{
            width: rem(342);
            height: rem(225);
            position: relative;
            img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .group {
          @include pc{
            border-bottom: 1px solid;
          }
          h3 {
            margin-bottom: rem(16);
          }
          @include sp {
            margin-top: rem(25);
            h3 {
              margin-bottom: rem(16);
              color: inherit;
              font-size: rem(24);
              line-height: calc(28.8/24);
            }
          }
          > p{
            @include sp{
              font-size: rem(16);
              line-height: calc(21.86/16);
            }
          }
        }
      }
    }
  }
  &.is-down{
    @include pc{
      border-bottom: 1px solid $cl-line;
      padding: rem(10) 0;
      .header__logo{
        width: rem(88);
      }
    }
  }
}
body.nav--open {
  overflow: hidden;
}