// default settings
@import "../_base/settings";
@import "../_base/mixin";


.page-detail{

  .main{
    padding-top: rem(120);
    @include sp{
      padding-top: rem(88);
    }
  }

  .kv{
    padding-top: rem(24);
    @include sp{
      padding-top: 0;
    }
    .breadcrumds{
      ul{
        li, a{
          list-style-type: none;
          display: inline;
          color: $cl-primary-light;
          font-size: rem(12);
          line-height: calc(16.4/12);
          font-weight: 600;
          letter-spacing: 0.04em;
        }
        li{
          position: relative;
          &:before{
            content: '/';
            display: inline-block;
            margin: 0 rem(1);
            @include sp{
              margin: 0;
            }
          }
          &:first-child{
            &:before{
              display: none;
            }
          }
        }
        a{
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    &__text{
      display: flex;
      justify-content: space-between;
      margin: rem(40) 0 rem(22);
      *{
        -ms-overflow-style: none;
      }
      ::-webkit-scrollbar {
          display: none;
      }
      @include sp{
        margin: rem(16) 0 rem(24);
      }
      .kv__ttl{
        flex: 1;
        h2{
          font-size: rem(60);
          line-height: calc(72/60);
          font-weight: 400;
          letter-spacing: -0.04em;
          color: $cl-title;
          @include fontBonaNova;
          margin-top: rem(10);
          @include sp{
            font-size: rem(32);
            line-height: calc(38.4/32);
          }
        }
      }
      .kv__submenu{
        display: flex;
        flex-wrap: wrap;
        width: rem(405);
        @include sp{
          flex-wrap: nowrap;
          position: fixed;
          top: rem(88);
          left: 0;
          right: 0;
          padding: rem(14) rem(16);
          background: #fff;
          overflow-y: auto;
          width: 100% !important;
          border-top: 1px solid $cl-line;
          border-bottom: 1px solid $cl-line;
          z-index: 9;
          transform: translateY(-105%);
          transition: transform .15s ease-in-out;
        }
        &.is-show{
          @include sp{
            transform: translateY(0);
          }
        }
        li{
          list-style-type: none;
          width: 50%;
          margin-bottom: rem(15);
          @include sp{
            width: auto;
            padding: 0 rem(8);
            margin-bottom: 0;
          }
          a{
            font-size: rem(16);
            line-height: calc(21.86/16);
            letter-spacing: -0.04em;
            font-weight: 700;
            color: $cl-body;
            position: relative;
            @include sp{
              white-space: nowrap;
              font-size: rem(12);
              line-height: calc(16.4/12);
              letter-spacing: -0.01em;
            }
            &:before{
              @include sp{
                content: '';
                position: absolute;
                bottom: rem(-15);
                left: rem(-8);
                right: rem(-8);
                height: rem(2);
                background: $cl-primary-light;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s;
                z-index: 1;
              }
            }
            &:hover{
              @include pc{
                color: $cl-primary-light;
              }
            }
            &.is-active{
              @include sp{
                color: $cl-primary-light;
              }
              &:before{
                @include sp{
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
          &:nth-child(even){
            @include pc{
              padding-left: rem(15);
            }
          }
        }
      }
    }
    &__img{
      width: 100%;
      height: rem(500);
      position: relative;
      margin: 0 auto;
      @include sp{
        height: rem(210);
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}