.page-detail .main {
  padding-top: 7.5rem;
}
@media (max-width: 750px) {
  .page-detail .main {
    padding-top: 5.5rem;
  }
}
.page-detail .kv {
  padding-top: 1.5rem;
}
@media (max-width: 750px) {
  .page-detail .kv {
    padding-top: 0;
  }
}
.page-detail .kv .breadcrumds ul li, .page-detail .kv .breadcrumds ul a {
  list-style-type: none;
  display: inline;
  color: #0A68E2;
  font-size: 0.75rem;
  line-height: 1.3666666667;
  font-weight: 600;
  letter-spacing: 0.04em;
}
.page-detail .kv .breadcrumds ul li {
  position: relative;
}
.page-detail .kv .breadcrumds ul li:before {
  content: "/";
  display: inline-block;
  margin: 0 0.0625rem;
}
@media (max-width: 750px) {
  .page-detail .kv .breadcrumds ul li:before {
    margin: 0;
  }
}
.page-detail .kv .breadcrumds ul li:first-child:before {
  display: none;
}
.page-detail .kv .breadcrumds ul a:hover {
  text-decoration: underline;
}
.page-detail .kv__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5rem 0 2.5rem;
}
.page-detail .kv__text * {
  -ms-overflow-style: none;
}
.page-detail .kv__text ::-webkit-scrollbar {
  display: none;
}
@media (max-width: 750px) {
  .page-detail .kv__text {
    margin: 1.5rem 0 2.5rem;
  }
}
.page-detail .kv__text .kv__ttl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.page-detail .kv__text .kv__ttl h2 {
  font-size: 3.75rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #1A1C21;
  font-family: "Bona Nova", serif;
  padding: 0.25rem 0;
}
@media (max-width: 750px) {
  .page-detail .kv__text .kv__ttl h2 {
    font-size: 2rem;
    line-height: 1.2;
    padding: 0;
  }
}
.page-detail .kv__text .kv__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 25.3125rem;
}
@media (max-width: 750px) {
  .page-detail .kv__text .kv__submenu {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: fixed;
    top: 5.5rem;
    left: 0;
    right: 0;
    padding: 0.875rem 1rem 0;
    background: #fff;
    overflow-y: auto;
    width: 100% !important;
    border-top: 1px solid #D8DAE1;
    border-bottom: 1px solid #D8DAE1;
    z-index: 9;
    -webkit-transform: translateY(-105%);
            transform: translateY(-105%);
    -webkit-transition: -webkit-transform 0.15s ease-in-out;
    transition: -webkit-transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  }
}
@media (max-width: 750px) {
  .page-detail .kv__text .kv__submenu.is-show {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.page-detail .kv__text .kv__submenu li {
  list-style-type: none;
  width: 100%;
  margin-bottom: 0.9375rem;
  position: relative;
}
@media (max-width: 750px) {
  .page-detail .kv__text .kv__submenu li {
    padding: 0 0.5rem 0.875rem;
    margin-bottom: 0;
    text-align: center;
  }
}
@media (max-width: 750px) {
  .page-detail .kv__text .kv__submenu li:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.125rem;
    background: #0A68E2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1;
  }
}
.page-detail .kv__text .kv__submenu li a {
  font-size: 1rem;
  line-height: 1.36625;
  letter-spacing: -0.04em;
  font-weight: 700;
  color: #595B61;
  position: relative;
}
@media (max-width: 750px) {
  .page-detail .kv__text .kv__submenu li a {
    white-space: nowrap;
    font-size: 0.75rem;
    line-height: 1.3666666667;
    letter-spacing: -0.01em;
  }
}
@media (min-width: 751px) {
  .page-detail .kv__text .kv__submenu li a:hover {
    color: #0A68E2;
  }
}
@media (max-width: 750px) {
  .page-detail .kv__text .kv__submenu li.is-active a {
    color: #0A68E2;
  }
}
@media (max-width: 750px) {
  .page-detail .kv__text .kv__submenu li.is-active:before {
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 751px) {
  .page-detail .kv__text .kv__submenu.--02 li {
    width: 50%;
  }
}
@media (min-width: 751px) {
  .page-detail .kv__text .kv__submenu.--02 li:nth-child(even) {
    padding-left: 0.9375rem;
  }
}
.page-detail .kv__text .kv__submenu.--02 li:last-child, .page-detail .kv__text .kv__submenu.--02 li:nth-last-child(2) {
  margin-bottom: 0;
}
@media (max-width: 750px) {
  .page-detail .kv__text .kv__submenu.--ellipsis li {
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.page-detail .kv__img {
  width: 100%;
  height: 31.25rem;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .page-detail .kv__img {
    height: 13.125rem;
  }
}
@media (min-width: 751px) {
  .page-detail .kv__img.--half {
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 750px) {
  .page-detail .kv__img.--half {
    width: 21.4375rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.page-detail .kv__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}